<mat-toolbar style="color: aqua; background-color: rgb(29, 31, 13);">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" >
      <span>Order</span>
    </button>
    <button mat-button class="example-icon" >
      <span>Contact</span>
    </button>
    <button mat-button class="example-icon" >
      <span>Login</span>
    </button>
  </mat-toolbar>
  